# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
*.sqlite3
staticfiles/
/media/

# Env
.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Fly.io
fly.toml.bak
workers/**/node_modules

# local dev server logs
.logs/
